<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои отчеты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .title{
            color:black;
            font-size: 40px;
            text-align:center;
       }
    </style>
</head>
<body>
<h1 class="title">{{ otchot.name }}</h1>
<div>
    {% for otdel in otdels %}

    <h3>{{ otdel.title }}</h3>
    <a href="http://127.0.0.1:8000/delete/otdel/{{otchot.id}}/{{otdel.id}}"><button>Удалить Отдел</button></a>
    <a href="{% url 'edit-otdel' otdel.id %}"><button>Изменить название отдела</button></a>
        {% for zag in list_x %}
            {% if otdel.id == zag.otdel_id %}
                <ul style="line-height:200%" >
                    <li>
                        <h4>{{ zag.title }}</h4>
                        <a href="{% url 'delete-zagolovok' otchot_id=otchot.id zagolovok_id=zag.id %}"><span><button>Удалить Заголовок</button></span></a>
                        <a href="{% url 'edit-zagolovok' otdel_id=otdel.id zagolovok_id=zag.id %}"><button>Изменить заголовок</button></a>
                    </li>
                            {% for description in description_list %}
                                {% if  zag.id == description.zagolovok_id %}
                                    <p>{{ description.text }}</p>
                                {% endif %}
                            {% endfor %}
                            {% for image in image_list %}
                                {% if  zag.id == image.zagolovok_id %}
                                    <img src="/{{ image.image }}" width="600" >
                                {% endif %}
                            {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
               <input type="hidden" name="otdel_id" value="{{ otdel.id }}">
                <div class="form-group m-3">
                    <label>Добавить заголовок</label><br>
                    <input type="text" name="zag_title"><br>
                    <label>Текст</label><br>
                    <textarea class="form-control" name="description"></textarea><br>
                    <label>Загразить картинку</label><br>
                    <input name="images" type="file" multiple class="form-control-file"><br>
                    <p><input type="submit" value="Сохранить"></p>
                </div>

            </form>
    {% endfor %}
</div>

<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group m-3">
        <label>Добавить отдел</label>
        <input required name="otdel_title" type="text" placeholder="Название отдела" class="form-control">
    </div>
    <button type='submit' class="btn btn-primary m-3">Сохранить</button>
</form>
<a href="{% url 'reports' %}"><button class="btn btn-primary m-3">Вернуться назад</button></a>
</body>
</html>