<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои отчеты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .zag-img{
            width: 600px;
            margin: 20px 50px 20px 50px;
            border: 1px solid grey;
            align: center;
       }
    </style>
</head>
<body>
<h1>Вы можете изменить Заголовок</h1>
<form method="post">
    {% csrf_token %}
    <label>Название Заголовка:</label>
    <textarea  name="zagolovok_title" rows="1" cols="40">{{ zagolovok.title }}</textarea>
    <br><br>
    {% for description in description_list %}
            <label>Текст:</label>
            <textarea  name="new_description" rows="3" cols="150">{{ description.text }}</textarea>
            <br><br>
    {% endfor %}
    <input type="submit" value="Изменить">
</form>
{% for image in images %}
    <p><img class="zag-img" src="/{{ image.image }}"></p>
    <p><a href="{% url 'delete-image' otdel_id=otdel.id zagolovok_id=zagolovok.id image_id=image.id %}"><button>Удалить картинку</button></a></p>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <label>Добавить картинки</label><br>
    <input name="images" type="file" multiple class="form-control-file"><br>
    <p><input type="submit" value="Сохранить картинки"></p>
</form>

<p><a href="{% url 'detail' otdel.otchot_id %}"><button>Вернуться назад</button></a></p>
</body>
</html>